<html ng-app="myApp">
  <head>
    <title>LLVM Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bootstrap.css"></link>
    <link rel="stylesheet" href="static/css/llvmservice.css"></link>
    <script src="static/js/angular.min.js"> </script>
    <script src="static/js/angular-resource.min.js"></script>
    <script src="static/js/controller.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron">
        <h1>LLVM Service</h1>
        <p>Upload your bitcode file to run the analysis.</p>
      </div>
      <div ng-controller="mainController">
        <label for="url">URL of test jar</label>
        <div class="input-group"> 
          <input type="text" class="form-control" ng-model="url" placeholder="http://your-llvm-module.bc"></input>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="addTest()">Go!</button>
          </span>
        </div>

        <div ng-model="tests" class="panel">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="test in tests | orderBy:'+ID' track by test.ID">
              <span class="id-width">{{ test.ID }}</span> <span class="url-width">{{ test.url }}</span> <span><strong>{{ test.state }}</strong></span>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </body>
  
  
</html>
